<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>
  <log4net>
    <appender name="RollingLogRootFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--日志的路径-->
      <file value=".\Log\WanLog" />
      <!--是否覆盖，默认是追加true-->
      <appendToFile value="true"/>
      <!--文件滚动周期（每日创建新日志文件）-->
      <datePattern value="yyyyMMdd&quot;.txt&quot;"/>
      <!--设置无限备份=-1 ，最大备份数为1000-->
      <maxSizeRollBackups value="1000"/>
      <!--名称是否可以更改为false为可以更改-->
      <staticLogFileName value="false" />
      <!--文件滚动选项Composite表示根据日期和大小来滚动-->
      <rollingStyle value="Composite" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss}[%t][%-5p][%c]%m%n%exception%n" />
      </layout>
    </appender>
    <root>
      <level value="All" />
      <appender-ref ref="RollingLogRootFileAppender" />
    </root>
  </log4net>
</configuration>